HOST_PORT=80

MYSQL_ROOT_PASSWORD=change_moi_root
DB_USER=flemart_agent
DB_PASSWORD=change_moi
DB_NAME=flemart
DB_NAME_TEST=flemart_test

JWT_SECRET=your_random_64_char_hex_string

GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
PUBLIC_URL=http://localhost

MODEL_PROVIDER_URL=http://host.docker.internal:1234/v1
MODEL_NAME=qwen3.5-9b
API_KEY=lm-studio
